{% extends "admin_base.html" %}
{% block head%}
{{super()}}
<style>
    .list-group.inner li{
    border:none;

    }
</style>
{% endblock %}
{% block content %}

<div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Manage Widgets
        <a href="{{url_for('admin.create_widget')}}" class="btn btn-info btn-sm" role="button">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </h2>
    <ul class="list-group">
        {% for widget in widgets %}
        <li class="list-group-item">
            <a href="{{url_for('admin.show_widget', widget_id=widget.id)}}">
                {{widget.name}}
                <span class="pull-right">
                <a href="{{url_for('admin.delete_widget', widget_id=widget.id)}}" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm" role="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                </span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}