{% extends "admin_base.html" %}
{% block head%}
{{super()}}
<style>
    .list-group.inner li{
    border:none;

    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Manage Pages
            <a href="{{url_for('admin.add_page')}}" class="btn btn-info btn-sm" role="button">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h2>
        <ul class="list-group">
            {% for page in pages %}
            <li class="list-group-item">
                <a href="{{url_for('admin.edit_page', slug=page.slug)}}">
                    {{page.title}}
                <span class="pull-right">
                <a href="{{url_for('admin.add_page',parent=page.slug)}}" class="btn btn-info btn-sm" role="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                </span>
                </a>
                <ul class="list-group">
                    {% for child in page.children %}
                    <li class="list-group-item">
                        <a href="{{url_for('admin.edit_page', slug=child.slug)}}">{{child.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>Manage Templates
            <a href="{{url_for('admin.add_template')}}" class="btn btn-info btn-sm" role="button">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h2>
        <ul class="list-group">
            {% for template in templates %}
            <li class="list-group-item">
                <a href="{{url_for('admin.edit_template', _id=template.id)}}"> {{template.name}} </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}