{% extends "base.html" %}
{% block content %}
{% if not page.slug == 'home' or page.slug == 'index'%}
{{add_breadcrumbs_snippet(page)|safe}}
{% endif %}
<div class="container-fluid">
    {% import '{}.html'.format(page.template.name) as page_macro with context %}
    {{ page_macro.render_page(page) }}

    {% for widget in page.widgets.all() %}
    {% import 'widget/{}.html'.format(widget.widget_type.name) as widget_macro with context %}
    {{ widget_macro.render_widget(widget.get_component(), page) }}
    {% endfor %}
</div>
{% endblock %}
