{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form action={{url_for('security.send_confirmation')}} class="form-signin" method="post">
                {{ send_confirmation_form.hidden_tag() }}
                {{ flash_form_errors(send_confirmation_form)|safe }}
                <h2 class="form-signin-heading">Resend Confirmation Instructions</h2>
                <label for="email" class="sr-only">Email address</label>
                {{ send_confirmation_form.email(type="email", id="email", class="form-control", placeholder="Email", autofocus=true, required=true)}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Resend</button>
                <a href={{url_for('security.login')}} >Login</a>
                {% if recoverable() %}
                <a href={{url_for('security.forgot_password')}} class="pull-right">Forgot Password</a>
                {%endif%}
            </form>
        </div>
    </div>
</div>
{% endblock %}