{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form action={{url_for('member.change_password')}} class="form-signin" method="post">
                {{ form.hidden_tag() }}
                <h2 class="form-signin-heading">Change Password</h2>
                <label for="password" class="sr-only">Password</label>
                {{ form.password(type="password", id="password", class="form-control", placeholder="Password", autofocus=true, required=true)}}
                <label for="confirm_password" class="sr-only">Confirm Password</label>
                {{ form.confirm_password(type="password", id="confirm_password", class="form-control", placeholder="Confirm Password", autofocus=true, required=true)}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}